#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.item{
  background-color: blueviolet;
  height: 2.5rem;
  width: 19rem;
  display: flex;
  flex-direction: row;
  padding: 0 1.4rem;
  justify-content:space-between;
  text-align: center;
  align-items: center;
  margin: 4px;
}
.input{
  height: 2rem;
display: flex;
justify-content: space-evenly;
align-items: center;
font-family: inherit;
margin-bottom: 7px;
  background-color: black;
}
input{
  width: 19rem;
  height: 1.3rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}
.Add{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.3rem;
  width: 1.8rem;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
