#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.weatherCard{
  height: 28rem;
  width: 45rem;
  background-color: lightblue;
}
.head{
 background-color: black;
  width:30rem ;
  margin: 4px 5rem;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
input{
  height: 2rem;
  border: none;
  outline: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.4rem;
  border-radius: 1.2rem;
}






